name: Update Resume

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update-resume:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Download PDF
      run: |
        url="https://app.flowcv.com/api/public/download_resume?token=${{ secrets.FLOWCV_TOKEN }}"
        output_file="latest.pdf"

        # Attempt to download the PDF
        if ! curl -L -o "$output_file" "$url"; then
          echo "Failed to download the PDF from $url"
          exit 1
        fi

        cp latest.pdf public/jatin-resume.pdf

    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v6
      with:
        commit-message: "chore: update resume"
        committer: Jatin <heyjatinn@gmail.com>
        author: Jatin <heyjatinn@gmail.com>
        branch: chore/update-resume
        base: main
        delete-branch: true
        title: 'chore: update resume'
        body: |
          Update resume from FlowCV.

          This PR is automatically generated by a GitHub Action.
        labels: |
          enhancement
          update-resume
        assignees: github-actions[bot]
        reviewers: jatindotdev